<div class="row" id="banner-home">
  <div class="container">
    <div class="starter-template">
      <h1>Are You Ready To Go... WayLow!!!</h1>
      <p class="lead">The Weight-Loss Competition Management System.<br>
        Designed for Program Managers who are looking to significantly reduce time compiling weigh-in results.
      </p>
      <p>
        <%= link_to "View Weigh-In", weigh_ins_path, :class => "btn btn-success btn-lg" %>
      </p>
    </div>
  </div>
</div><!-- /.container -->
